.error {
  position: absolute;
  z-index: 2;
  background-color: white;
  height: calc(100% - 43px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & > p {
    color: var(--color-red);
    font-size: 1.1rem;
  }

  & > button {
    background-color: transparent;
    border: 2px solid var(--color-gray-dark);
    border-radius: 50px;
    padding: 13px 25px;
    color: var(--color-gray-dark);
    cursor: pointer;
    transition: all ease-in-out .3s;

    &:hover {
      background-color: var(--color-gray-dark);
      color: white;
    }
  }
}