@import './settings';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: var(--color-gray-background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
