.cards {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 35px;

  @media (min-width: 768px) {
    position: absolute;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    top: 50%;
    transform: translateY(-50%);
    top: 50%;
    max-width: 1050px;
    transform: translate(-50%, -50%);
    left: 50%;
  }
}