.card {
  background-color: white;
  width: 100%;
  order: 2;
  min-height: 265px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 rgb(51 51 51 / 10%);

  &:global(.-is-highlighted) {
    order: 1;

    @media (min-width: 768px) {
      order: 2;
    }
  }
  
  & > h2 {
    padding: 10px 0;
    color: var(--color-gray-dark);
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid var(--color-gray-divider);
  }

  p {
    text-align: center;
  }
}

.footer {
  background-color: var(--color-gray-background);
  opacity: 0.5;
  padding: 15px 25px;

  p, dl {
    margin: 0;
  }

  & > p {
    font-size: 0.65rem;
    color: var(--color-gray);
  }

  & > div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  dt {
    color: var(--color-gray);
    font-size: 0.8rem;
    padding-bottom: 3px;
  }

  dd {
    margin: 0;
    text-align: center;
    font-size: 1.1rem;

    & > span {
      font-size: 0.75rem;
    }
  }
}

.tempeture {
  font-weight: 500;
  font-size: 6rem;
  margin: 0;
  padding: 35px 0;
  position: relative;
  color: var(--color-orange);

  &:global(.-cold) {
    color: var(--color-blue);
  }

  &:global(.-hot) {
    color: var(--color-red);
  }

  &::after {
    content: '°';
    position: absolute;
    font-size: 3rem;
    top: 25%;
  }
}