:root {
  --color-gray-background: #f1f1f1;
  --color-gray-divider: #ebebeb;
  --color-gray-box: #333;
  --color-gray: #b4b4b4;
  --color-gray-dark: #737c84;

  --color-blue: #69a3ff;
  --color-orange: #ff9632;
  --color-red: #ed1946;
}